#slideshowWrapper{
    display: none;
    @media( min-width:768px){
        display: inherit;
    }
}
#slideshow{
    margin: 20px auto;
    // width: 320px;
    text-align: center;
    @media (min-width:768px){
        width: 480px !important;
    }
}
#slideshowWrapper > a{
  display: none;
}
#fssList{
  display: none;
}
#one{
  display: none ;
}
.hidde{
  display: none !important;
}
.show{
  display: inherit !important;
}

.tabs  {
.indicator{
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: $purple;
    will-change: inherit;
  }
}
.tab{
	ul{
		margin: 54px 0 24px;
        height: 63px;
       
		li{
			display: inline;
			padding-right: 2%;
            width: 130px;
            @media(min-width: 768px){
                width: auto;
                padding-right: 4%;
                margin-right: 24px !important;
            }
            a{

                padding:  0 !important;
                margin-right: 18px;
                font-size: 12px;
            }
            a.active{
                position: relative;

			}
		}
	}
	p{
		max-width: 843px;
		margin: 0;
	}
	.gallery{
		padding: 46px 0;

		.card{
            -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.34), 0 1px 5px 0 rgba(0,0,0,0.32), 0 3px 1px -2px rgba(0,0,0,0.32);
            -moz-box-shadow:    0 2px 2px 0 rgba(0,0,0,0.34), 0 1px 5px 0 rgba(0,0,0,0.32), 0 3px 1px -2px rgba(0,0,0,0.32);
            box-shadow:         0 2px 2px 0 rgba(0,0,0,0.34), 0 1px 5px 0 rgba(0,0,0,0.32), 0 3px 1px -2px rgba(0,0,0,0.32);
			margin: .7em;
			@media(min-width:768px){
			margin: 1.5em;
			}
			span{
				right: 5px;
				top: 5px;
                box-shadow: none;
                i{
                    font-size: 29px;
                }

				@media(min-width:992px){
				top: initial;
				bottom: 12px;
				}
			}
			.card-action{
				padding: 9px;
                :nth-child(1){
                    display: none;
                }
                :nth-child(2){
                    display: none;
                    @media(min-width:768px){
                        display: initial;
                    }
                }
				a{
					font-size: 12px;
				}

				@media(min-width:992px){
					padding: 18px 24px;
					a{
						font-size: 14px;
					}
				}
			}
            .card-image{
                transition: opacity .4s;
                background: black;

                &:hover{
                    opacity: .7;
                }
                img{
                     opacity: .7;
                    @media(min-width:768px){
                        opacity: 1;
                    }
                }
            }
		}
	}
}

.bottom-sheet{
	min-height: 100%;
	background-color: transparent;
		a{
			top: 18px;
			right: 18px;
		}
	.modal-header{
		width: 100%;
		padding: 18px 36px;
		@media(min-width: 1320px){ 
			width: 74%;
			margin: 0 auto;
		}
       a:nth-child(1){
            border-radius: 50%;
            width: 42px;
            height: 42px;
            padding: 9px;
            transition: opacity .4s;
            &:hover{
                opacity: .6;
            }

        }
        a:nth-child(3){
            top: 96px;
            right: 30px;
            z-index: 7;
            @media(min-width:1320px){
                display: inline;
                right: 36px;
                top: 18px;

             
            }

        }
	}
	.modal-content{
		padding: 0px;
		width: 100%;
		background: white;	
		@media(min-width: 1320px){
			width: 74%;
			margin: 0 auto;
		}

		 .eyecatcherTwo{
        	height: auto ;
        	overflow: hidden;
        	@media(min-width: 600px){
        			height: 700px;
        		}
        		// @media(min-width: 992px){
        		// 	height: 583px;
        		// }

        		@media(min-width: 1200px){
        			height: 1000px;
        		}
        		@media(min-width: 1680px){
        			height: 1159px;
        		}
        	.decription{
        		padding: 54px  24px;
        		@media(min-width:768px){
        			padding: 61px 54px;
        		}
        		@media(min-width:1200px){
        			padding: 90px;
        		}
                a{
                    text-decoration: underline !important;
                }
        	}
        	}
        .eyecatcher{
        	height: 248px;
        	overflow: hidden;
        	@media(min-width: 600px){
        			height: 379px;
        		}
        		@media(min-width: 992px){
        			height: 583px;
        		}

        		@media(min-width: 1200px){
        			height: 649px;
        		}
        		@media(min-width: 1680px){
        			height: 888px;
        		}
        	#animate1{
        		@include centerAbsolute;
        		top: -77px;
        		height: auto;
        		z-index: 5;
        		transition: font-size .2s;
        		&:before{
        			font-size: 22em;
        		// font-size: 70em;
        		}
        		@media(min-width: 600px){
        			top: -196px;
        			&:before{
        				font-size: 39em;
        			}
        		}
        		@media(min-width: 992px){
        			top: -394px;
        			&:before{
        				font-size: 64em;
        			}
        		}
        		@media(min-width: 1200px){
        			top: -362px;
        		}
        		@media(min-width: 1680px){
        			top: -422px;
        			&:before{
        				font-size: 83em;
        			}
        		}

        	}
        	figure{
        		   width: 18.3em;
				    right: 0;
				    left: 0;
				    margin: 0 auto;
				    z-index: 4;
				    top: 67px;
				    z-index: 4;
				    border-radius: 2px;
				    height: 166px;
				    overflow: hidden;
	        	img{
					width: 100%;
	        	}
	        	@media(min-width: 600px){
	        		width: 33em;
	        		height: 285px;
	        	}

	        	@media(min-width: 992px){
        			 width: 53.5em;
				    top: 40px;
				    height: 481px;
        			
        		}
        		@media(min-width: 1200px){
        			    top: 85px;
        			    height: 510px;
        		}
        		@media(min-width: 1680px){
					    width: 70.4em;
					    top: 160px;
					    height: 651px;
        			
        		}
        	}
        
        }
        .main, .mainor{
        	height: 320px;
        	overflow: hidden;
        	@media(min-width:600px){
        		height: 330px;
        	}
        	@media(min-width:992px){
        		height: 500px;
        	}
        	@media(min-width:1680px){
        		height: 534px;
        	}
        }

        .main{

        	i{
        		@include centerAbsolute;
        		top: 0;
        		height: auto;
        		z-index: 5;
        		transition: font-size .2s;
        		&:before{
        			font-size: 16em;
        		// font-size: 70em;
        		}
        		@media(min-width: 600px){

        			top: -106px;
        			 -ms-transform: rotate(7deg); /* IE 9 */
				    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
				    transform: rotate(90deg);
        			&:before{
        				font-size: 26em;
        			}
        		}
        		@media(min-width: 992px){
        			top: -141px;
        			&:before{
        				font-size: 35em;
        			}
        		}
        		// @media(min-width: 1680px){
        		// 	top: -230px;
        		// 	left: inherit;
        		// 	&:before{
        		// 		font-size: 47em;
        		// 	}
        		// }

        	}
        	figure{
        		    width: 10.7em;
				    right: 0;
				    left: 0;
				    margin: 0 auto;
				    z-index: 4;
				    top: 75px;
				    z-index: 4;
				    border-radius: 0px;
				    height: 185px;
				    overflow: hidden;
	        	img{
					width: 100%;
	        	}
	        	@media(min-width: 600px){
	        		     width: 21.8em;
					    height: 248px;
					    top: 45px;
	        	}

	        	@media(min-width: 992px){
        			    width: 29.1em;
					    top: 71px;
					    height: 346px;
        			
        		}
        		@media(min-width: 1200px){
        			    top: 76px;
        			    width: 29.2em;
					    height: 352px;
        		}
     //    		@media(min-width: 1680px){
					// left: inherit;
					// right: 60px;  		
					// width: 38.7em;
					// top: 60px;
					// height: 481px;
        			
     //    		}
        	}


        }// main Ends
        .mainor{
        	i{
        		@include centerAbsolute;
        		top: 0;
        		height: auto;
        		z-index: 5;
        		transition: font-size .2s;
        		&:before{
        			font-size: 16em;
        		// font-size: 70em;
        		}
        		@media(min-width: 600px){

        			&:before{
        				font-size: 15em;
        			}
        		}
        		@media(min-width: 992px){
        			top: -40px;
        			&:before{
        				font-size: 23em;
        			}
        		}
        		// @media(min-width: 1680px){
        		// 	top: -230px;
        		// 	left: inherit;
        		// 	&:before{
        		// 		font-size: 47em;
        		// 	}
        		// }

        	}
        	figure{
        		        width: 7.4em;
					    right: 0;
					    left: 0;
					    margin: 0 auto;
					    z-index: 4;
					    top: 88px;
					    z-index: 4;
					    border-radius: 0px;
					    height: 165px;
					    overflow: hidden;
	        	img{
					width: 100%;
	        	}
	        	@media(min-width: 600px){
	        		        width: 7.2em;
					    height: 144px;
					    top: 85px;
	        	}

	        	@media(min-width: 992px){
        			   width: 10.9em;
					    top: 92px;
					    height: 246px
					        			
        		}
        		@media(min-width: 1200px){
        			    top: 96px;
        		}
     //    		@media(min-width: 1680px){
					// left: inherit;
					// right: 60px;  		
					// width: 38.7em;
					// top: 60px;
					// height: 481px;
        			
     //    		}
        	}


        }

	}
}

#modal1{
	overflow: auto;
}

